<h1>PostImages#new</h1>

<%= form_with model:@post_image,url:'/post_images',method: :post do |f| %>

<%= f.file_field :image,accept:"image/*" %>
  <h4>ショップ名</h4>
<%= f.text_field :shop_name %>
<h4>説明</h4>
<%= f.text_area :caption %>
<%= f.submit '投稿' %>
<% end%>
